@using  BriveExam.Clases;
@model SucursalCLS


@{
    ViewData["Title"] = "Agregar";


}

<div class="row">

    <div class="col-md-6">

        <form method="post" asp-action="Agregar" asp-controller="Sucursal" id="frmMedicamento">

            <div class="form-group">

                <label asp-for="NombreSucursal"></label>
                <input asp-for="NombreSucursal" class="form form-control" />
                <span asp-validation-for="NombreSucursal" class="text-danger"></span>
            </div>

            <div class="form-group">

                <label asp-for="Direccion"></label>
                <input asp-for="Direccion" class="form form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Telefono"></label>
                <input asp-for="Telefono" type="number" class="form form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>

            </div>

         


        

            <div class="form-group">
                <div class="col-12">
                    <div class="col-12 col-sm-4 offset-sm-4 col-md-2 offset-md-5 col-lg-2 offset-lg-5">
                        <button type="submit" value="Buscar" class="btn btn-sm bg-gradient-primary mt-lg-3 col-12"><i class="fas fa-search"></i> Agregar</button>
                    </div>
                </div>

            </div>
        </form>

    </div>

</div>
